pandas==1.1.1
dash==1.12.0
gunicorn==19.9.0
dash-leaflet==0.1.8
plotly==4.12.0
flask==1.0.2
xlrd==1.2.0
openpyxl==3.0.5
matplotlib==3.2.1
dash-bootstrap-components==0.10.7
werkzeug==0.16.0
dash-renderer
pydeck==0.6.0
dash_deck==0.0.1
protobuf==3.20
MarkupSafe==0.23
werkzeug==0.16.0
Jinja2==2.10.1
itsdangerous==1.1.0